header {
    height: 60px;
    color: #858585;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    line-height: 50px;
    padding-left: 8px;
    font-size: 21px;
    display: flex;
    background-color: rgb(250, 250, 250);
}

header i {
    cursor: pointer;
    margin: auto 0;
    display: block;

}

header .menu-icon {
    flex-grow: 1;
    margin-left: 16px;
}

header .user-icon {
    margin-right: 8px;
}

header i:hover {
    color: #686868;
}